<div id="<%= dom_id food %>">
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Measurement unit</th>
      <th scope="col">Unit price</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
      <td><%=food.price %></td>
      <td><%= button_to "Destroy this food", @food, method: :delete %></td>
    </tr>
    </tbody>
  </table>
</div>

